@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #606c38;
    --cor2: #283618;
    --cor3: #fefae0;
    --cor4: #dda15e;
    --cor5: #bc6c25;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
}

header{
    text-align: center;
}

header > h1{
    font-size: 3em;
}

main{
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: var(--cor3);
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.271);
}

main > h4{
    margin: 30px;
    padding: 20px 20px 0px 20px;
}

main > p > span{
    text-decoration: underline;
}

main > p#botao{
    padding: 20px;
    text-align: right;
}

main > p#botao > a{
    color: black;
}

main > p#botao > a:hover{
    font-weight: bold;
    font-style: italic;
}